body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;

}


.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.stats {
  display: flex;
  justify-content: space-around;

}

.stats-items:hover {
  color: rgb(8, 92, 131)
}

.material-icons {
  font-size: 10px;
}

.photo-card {
  margin: 0 5px;
}
